  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

 .header{
    background-color: #ECD614;
    width: 100%;
    height: 111px;
    
}

.header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.menu{
    width: 40px;
    margin: 10px;
}

.imglogo{
    width: 68px;
    margin-left: 250px;
}

.header .conteiner .navbar{
    display: flex;
    list-style: none;
}

.header .conteiner .navbar li p{
    display: inline;
    padding: 0 15px;
    text-decoration: none;
    color: #166b0f;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.banner{
    width: 100%;
    height: 800px;
    background-image: url(imagens/pel2_banner.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.ajustetexto{
    width: 80%;
    height: 750px;
    margin: -3% 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textopagina{
    color: #FFF;
    text-align: center;
    font-family: Impact;
    font-size: 75px;
    font-style: normal;
    text-shadow: black 0.1em 0.1em 0.0em;
    margin-top: -270px;
    margin-left: -10px;
    
}

.historia{
    width: 100%;
    height: 600px;
    background-color: #14460f;
}

.titulo_historia{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #ECD614;
    text-shadow: black 0.1em 0.1em 0.0em;
}

.imagempag  {
   width: 1000px;
   height: 430px;
   margin-left: 10px;
   margin-top: -5px;
    background-image: url(selecao2002.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;
}

.direcaotexto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.texto_historia{
    font-size: 22px;
    text-align: center;
    font-family: Hanalei Fill;
    margin-bottom: 3%;
    color: #ECD614;
    margin-right: -5%;
}
/*Carrosel*/
.slider{
    margin-right: 7%;
    width: 750px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
      width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

/*quando radio estiver checked movimente a margin left nesse valor*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.navigation-auto div{
    border: 3px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}